<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>关于我</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h2>关于我</h2>
        <div>
            <%= about%>
        </div>
        <h3>联系方式</h3>
        <ul>
            <li>邮件: <a href="mailto:<%=email%>>"><%= email %></a></li>
            <li>GitHub: <a href="<%=github%>"><%=github%>></a></li>
        </ul>
    </div>
</body>
</html>
